.ServerPlan_title_container h2 {
    text-align: center;
}





.ServerPlans {
    display: flex;
    justify-content: space-between;
    padding: 5rem 20% 0rem 20%;

}


/* server configuration*/
.ServerPlans .configuration {
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-radius: 0.3rem;

    border-top: solid 1px;
    border-bottom: solid 1px;

}

.bronze_plan {
    border-color: #aa8438;
    color: #aa8438;
}
.silver_plan .configuration {
    border-color: #E4F5FF;
    color: #E4F5FF;
}

.gold_plan {
    border-color: #fdff6b;
    color: #fdff6b;
}

.line_separator {
    width : 1px;
    background-color: white;
}

.ServerPlans .configuration div {
    margin-bottom: 1rem;
}

.ServerPlans .title_plan {
    text-align: center;
}